/*
## Colors

### Primary

- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%)

### Neutral

Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%)

*/

:root {
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
}

body {
  background: var(--off-white);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container {
  margin-top: 72px;
  max-width: 1024px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav {
  gap: 36px;
  display: flex;
}
header nav a {
  color: var(--dark-grayish-blue);
}

/* Main */
main {
  margin-top: 72px;
  display: grid;
  grid-template-columns:
    "featuredNew featuredNew newsSidebar"
    "newsBottom newsBottom newsBottom";
}

/* Featured New */
section#featured-new {
  grid-area: featuredNew;
}

section#featured-new h1 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 800;
  color: var(--very-dark-blue);
}

.featured-new-body {
  display: flex;
  margin-top: 24px;
}

.featured-new-desc p {
  color: var(--dark-grayish-blue);
}

.featured-new-desc button {
  padding: 12px 24px;
  background-color: var(--soft-red);
  color: var(--off-white);
  text-transform: uppercase;
  letter-spacing: 1.75px;
  margin-top: 16px;
}

section#news-sidebar {
  grid-area: newsSidebar;
}
section#news-bottom {
  grid-area: newsBottom;
}
